/* Stuff to make codepen work */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Outer Hexagon */
.hexagon-grid-container {
	display: flex;
	flex-wrap: wrap;
	width: 60%;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.hexagon {
  position: relative;
  width: 140px; 
  height: 80.83px;
  background-color: #9fa0a2;
  margin: 44px 2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 40.41px solid #9fa0a2;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 40.41px solid #9fa0a2;
}

/* Inner Hexagon */
.hexagon-inner {
  position: relative;
  width: 136px; 
  height: 78.52px;
  background-color: #c9c9c9;
  margin: 39.26px 0;
  display: flex;
  justify-content: center;
}

.hexagon-inner:before, .hexagon-inner:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 68px solid transparent;
    border-right: 68px solid transparent;
    z-index: 1;
}

.hexagon-inner:before {
    bottom: 100%;
    border-bottom: 39.26px solid #c9c9c9;
}

.hexagon-inner:after {
    top: 100%;
    width: 0;
    border-top: 39.26px solid #c9c9c9;
}

/* Media queries */
@media (min-width: 1920px) {
	.hexagon-grid-container {
		width: 1600px;
	}
	.hexagon:nth-child(21n+12) {
		margin-left: 74px;
	}
}
@media (max-width: 1919px) and (min-width: 1280px) {
	.hexagon-grid-container {
		width: 1100px;
	}
	.hexagon:nth-child(14n+8) {
		margin-left: 74px;
	}
}
@media (max-width: 1279px) and (min-width: 1024px) {
	.hexagon-grid-container {
		width: 960px;
	}
	.hexagon:nth-child(12n+7) {
		margin-left: 74px;
	}
}
@media (max-width: 1023px) and (min-width: 781px) {
	.hexagon-grid-container {
		width: 780px;
	}
	.hexagon:nth-child(9n+6) {
		margin-left: 74px;
	}
}
@media (max-width: 780px) and (min-width: 640px) {
	.hexagon-grid-container {
		width: 640px;
	}
	.hexagon:nth-child(7n+5) {
		margin-left: 74px;
	}
}
@media (max-width: 639px) {
	.hexagon-grid-container {
		width: 320px;
	}
	.hexagon:nth-child(3n+3) {
		margin-left: 74px;
	}
}

/* Avatar */
.hexagon-avatar-img {
	position: absolute;
	width: 42px;
	border-radius: 42px;
	border: 2px solid #fff;
	top: -24px;
	z-index: 1;
}

/* Name */
.hexagon-name {
	position: absolute;
	width: 130px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 14px;
	top: 25px;
	color: #fff;
	z-index: 1;
}

/* Metric */
.hexagon-metric-label {
	position: absolute;
	width: 130px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 100;
	font-size: 12px;
	top: 48px;
	color: #ccc;
	z-index: 1;
}

/* Score */
.hexagon-featured-score {
	position: absolute;
	z-index: 2;
	bottom: -24px;
	width: 32px;
	height: 32px;
	border-radius: 36px;
	border: 1px solid;
	text-align: center;
	padding-top: 9px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	background: #b3b4b6; /* lighten($xv-secondary-dark-gray, 8%) */
	border-color: #9fa0a2;
}

/* Right / Left Icons */
.hexagon-icon-left, .hexagon-icon-right {
	position: absolute;
	z-index: 2;
	top: 58px;
	width: 24px;
	height: 24px;
	border-radius: 24px;
	border: 1px solid #9fa0a2;
	background: #b3b4b6; /* lighten($xv-secondary-dark-gray, 8%) */
	color: #9fa0a2;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
}
.hexagon-icon-left {
	left: 3px;
}
.hexagon-icon-right {
	right: 3px;
}

/* Hexagon Color Coding */

/* Green */
.hexagon.hexagon-green {
	background-color: rgba(133, 177, 58, 1);
}
.hexagon.hexagon-green:before {
    border-bottom: 40.41px solid rgba(133, 177, 58, 1);
}
.hexagon.hexagon-green:after {
    border-top: 40.41px solid rgba(133, 177, 58, 1);
}
.hexagon.hexagon-green .hexagon-inner {
    background-color: #33771b;
}
.hexagon.hexagon-green .hexagon-inner:before {
    border-bottom: 39.26px solid #33771b;
}
.hexagon.hexagon-green .hexagon-inner:after {
    border-top: 39.26px solid #33771b;
}
.hexagon.hexagon-green .hexagon-featured-score {
    background: #91bd46; /* lighten 5% */
    border-color: rgba(133, 177, 58, 1);
}

/* Blue */
.hexagon.hexagon-blue {
	background-color: rgba(47, 155, 167, 1);
}
.hexagon.hexagon-blue:before {
    border-bottom: 40.41px solid rgba(47, 155, 167, 1);
}
.hexagon.hexagon-blue:after {
    border-top: 40.41px solid rgba(47, 155, 167, 1);
}
.hexagon.hexagon-blue .hexagon-inner {
    background-color: #6DB9C1;
}
.hexagon.hexagon-blue .hexagon-inner:before {
    border-bottom: 39.26px solid #6DB9C1;
}
.hexagon.hexagon-blue .hexagon-inner:after {
    border-top: 39.26px solid #6DB9C1;
}
.hexagon.hexagon-blue .hexagon-featured-score {
    background: #3ba7b3; /* lighten 5% */
    border-color: rgba(47, 155, 167, 1);
}

/* Yellow */
.hexagon.hexagon-yellow {
	background-color: rgba(227, 169, 40, 1);
}
.hexagon.hexagon-yellow:before {
    border-bottom: 40.41px solid rgba(227, 169, 40, 1);
}
.hexagon.hexagon-yellow:after {
    border-top: 40.41px solid rgba(227, 169, 40, 1);
}
.hexagon.hexagon-yellow .hexagon-inner {
    background-color: #EBC268;
}
.hexagon.hexagon-yellow .hexagon-inner:before {
    border-bottom: 39.26px solid #EBC268;
}
.hexagon.hexagon-yellow .hexagon-inner:after {
    border-top: 39.26px solid #EBC268;
}
.hexagon.hexagon-yellow .hexagon-featured-score {
    background: #efb534; /* lighten 5% */
    border-color: rgba(227, 169, 40, 1);
}

/* Red */
.hexagon.hexagon-red {
	background-color: rgba(204, 55, 77, 1);
}
.hexagon.hexagon-red:before {
    border-bottom: 40.41px solid rgba(204, 55, 77, 1);
}
.hexagon.hexagon-red:after {
    border-top: 40.41px solid rgba(204, 55, 77, 1);
}
.hexagon.hexagon-red .hexagon-inner {
    background-color: #dd0031;
}
.hexagon.hexagon-red .hexagon-inner:before {
    border-bottom: 39.26px solid #dd0031;
}
.hexagon.hexagon-red .hexagon-inner:after {
    border-top: 39.26px solid #dd0031;
}
.hexagon.hexagon-red .hexagon-featured-score {
    background: #d84359; /* lighten 5% */
    border-color: rgba(204, 55, 77, 1);
}

/* Icon Color Coding */
.hexagon-icon-green {
	background: #91bd46;
    border-color: rgba(133, 177, 58, 1);
	color: rgba(106, 141, 46, 1);
}

.hexagon-icon-blue {
	background: #3ba7b3;
    border-color: rgba(47, 155, 167, 1);
	color: rgba(37, 124, 133, 1);
}

.hexagon-icon-yellow {
	background: #efb534;
    border-color: rgba(227, 169, 40, 1);
	color: rgba(181, 135, 32, 1);
}

.hexagon-icon-red {
	background: #d84359;
    border-color: rgba(204, 55, 77, 1);
	color: rgba(163, 44, 61, 1);
}
